<form (ngSubmit)="cadastrarFornecedor()" class="needs-validation" novalidate>
    <div class="container mt-5">
        <h3 class="ubuntu-bold">Cadastro de fornecedores</h3>
        <div class="mb-3 mt-3">
            <label for="name" class="form-label">Nome / Razão Social:</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="supplier.name" name="name" required>
            <div class="invalid-feedback">
                Por favor, insira o nome / razão social do fornecedor.
            </div>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Telefone:</label>
            <input type="tel" id="phone" class="form-control" [(ngModel)]="supplier.phone" name="phone">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="supplier.email" name="email">
        </div>
        <div class="mb-3">
            <label for="cnpj" class="form-label">CNPJ:</label>
            <input type="text" id="cnpj" class="form-control" [(ngModel)]="supplier.cnpj" name="cnpj" required>
            <div class="invalid-feedback">
                Por favor, insira o CNPJ do fornecedor.
            </div>
        </div>
        <div class="mb-3">
            <label for="supplierType" class="form-label">Tipo de Fornecedor:</label>
            <select id="supplierType" class="form-select" [(ngModel)]="supplier.supplierType" name="supplierType">
                <option value="1">Pessoa física</option>
                <option value="2">Pessoa Jurídica</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="legalRepresentative" class="form-label">Representante Legal:</label>
            <input type="text" id="legalRepresentative" class="form-control" [(ngModel)]="supplier.legalRepresentative"
                name="legalRepresentative">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>