<div class="container mt-5">
    <div class="row">
        <!-- Coluna para o formulário de cadastro -->

        <!-- Coluna para exibir a imagem -->
        <div class="col-md-6 mt-5">
            <img src="../../assets/1-min.png" class="img-fluid" alt="Imagem de exemplo">
        </div>
        <div class="col-md-6 mt-5">
            <H2>Formulário de contato</H2>
            <br/>
            <h5>A sua aplicação para gerenciamento de estoque</h5>
            <form>
                <div class="mb-3 mt-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Seu nome">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Seu email">
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone (com DDD)</label>
                    <input type="number" class="form-control" id="telefone" placeholder="Seu telefone">
                </div>
                <div class="mb-3">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Sua cidade">
                </div>
               
                <a class="btn btn-warning">Enviar meus dados</a>
            </form>


        </div>
    </div>
</div>